<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="btn btn-primary loginUser" *ngIf="!isAuthenticated()" (click)="loginUser()">
    Login
  </button>
  <span  *ngIf="isAuthenticated()">
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </span>
</nav>
