<div class="container">
  <h4 class="center">Books</h4>
  <div class="row">
    <div class="col-md-3" *ngFor="let book of books">
      <app-book-item [book]="book"></app-book-item>
    </div>
  </div>

  <div *ngIf="isAdmin()" class="admin">
    <h4 class="col-auto">Add a new Book</h4>
    <form class="form-inline" (submit)="addNewBook()" [formGroup]="addBookForm">
      <div class="col-auto">
        <input type="text"
               class="form-control"
               placeholder="Title"
               formControlName="title"
               [ngClass]="{ 'is-invalid': bookSubmitted && addBookForm.get('title').errors }">
        <div *ngIf="bookSubmitted && addBookForm.get('title').errors" class="invalid-feedback">
          <div *ngIf="addBookForm.get('title').errors.required">Title is required</div>
        </div>
      </div>
      <div class="col-auto">
        <input type="number"
               class="form-control"
               placeholder="Price"
               formControlName="price"
               [ngClass]="{ 'is-invalid': bookSubmitted && addBookForm.get('price').errors }">
        <div *ngIf="bookSubmitted && addBookForm.get('price').errors" class="invalid-feedback">
          <div *ngIf="addBookForm.get('price').errors.required">Price is required and must be a number</div>
          <div *ngIf="addBookForm.get('price').errors.min">Must start from 0</div>
        </div>
      </div>
      <div class="col-auto">
        <input type="text"
               class="form-control"
               placeholder="Link"
               formControlName="link"
               [ngClass]="{ 'is-invalid': bookSubmitted && addBookForm.get('link').errors }">
        <div *ngIf="bookSubmitted && addBookForm.get('link').errors" class="invalid-feedback">
          <div *ngIf="addBookForm.get('link').errors">Link is required</div>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Add new book</button>
      </div>
    </form>
  </div>
</div>
