.center
  text-align: center
  margin-top: 50px

.row
  margin-top: 30px

.admin
  margin-top: 40px
  margin-left: -15px
  margin-right: -15px

  h4
    margin-bottom: 15px

  button
    margin-bottom: 0 !important
